node_modules/
.next/
.env.local
*.tsbuildinfo
backendhometutorapp/node_modules/
backendhometutorapp/uploads/
backendhometutorapp/.env
webadmin/node_modules/
webadmin/.next/
webadmin/dist/
webadmin/build/
webadmin/.env
